# Ignore everything:
*

# But not these:
!.gitignore
!.gitconfig
!.xinitrc
!.Xresources

# Even if they are in sub-dirs:
!*/

!.config/awesome/*
!.config/fontconfig/*
!.config/fontconfig/conf.d/*

journal/
