XTerm.vt100.locale: true
XTerm.vt100.saveLines: 4096
XTerm.vt100.scrollBar: true
XTerm.vt100.scrollbar.width: 8
XTerm.vt100.faceName: FreeMono
XTerm.vt100.faceSize: 10
XTerm.vt100.renderFont: true
XTerm.vt100.background: #292929
XTerm.vt100.foreground: white
XTerm.vt100.Translations: #override \
	Shift <KeyPress> Insert: insert-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>V:	 insert-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>C:	 copy-selection(CLIPBOARD)   \n\
	Alt <Btn1Up>:		 exec-formatted("xdg-open '%t'", PRIMARY)
